  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    {% if page.stylesheets %}
    {% for stylesheet in page.stylesheets %}
    {% if stylesheet contains '://' %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet | relative_url }}" />
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if page.head_scripts %}
    {% for script in page.head_scripts %}
    {% if script contains '://' %}
    <script src="{{ script }}"></script>
    {% else %}
    <script src="{{ script | relative_url }}"></script>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if page.head_extra %}
    {{ page.head_extra }}
    {% endif %}
  </head>
