#msucs_nav
{
	width: 100%;
	min-width: 400px;
	text-align: left;
	font-size: 12px;
}

#msucs_navlist,
ul {
	list-style-type: none;
}

#msucs_navlist li
{
	float: left;
	padding: 0;
}

#msucs_navlist li a
{
	color: rgb(55, 51, 102);
	margin: 0;
	padding: 5px 5px 5px 5px;
	background-color: rgb(255, 255, 255);
	border-width: 1px 1px 1px 1px;
	border-color: rgb(145, 132, 122);
	border-style: solid;
	
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background  0.2s ease;
}

#msucs_navlist li a:hover {
	background-color: rgb(192,192,192);
}

.new_line {
	clear: both;
}